/* CSS Styles for tweet*/

.tweet{
  border-style: solid;
  border-color: #545145;
  border-width: 5px;
  margin-bottom: 2rem;
}

.tweet:hover {
  box-shadow: 5px 5px 5px cornflowerblue;
}

#tweet-form label {
  padding: 2.5rem 0;
}


.tweet > header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 1rem 0;
}

.avatar-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  width: 50%;

}

.avatar-container > img {
  height: 3.5rem;
  width: auto;

}

.handle {
  color: #c5cbe3;
};

.user-tweet {
  display: flex;
  font-weight: bold;
  border-bottom: solid 5px #545145;
  height: 3.5rem;
  margin: 0 2rem;
  padding: 0 1.25rem;
  word-break: break-all;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 1rem 0;
}

.date-created {
  font-size: smaller;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 7%;
}


.icons i {
  height: 1.25rem;
  width: auto;
  color: #4056a1;
}

.icons i:hover {
  cursor: pointer;
  color: goldenrod;
}

.counter {
  color: #545145;
}

.counter-invalid {
  color: rgb(221, 0, 0);
}


/* breakpoint (desktop) */
@media only screen and (min-width: 1024px) {
  .tweet > header {
    font-size: smaller;
    width: 92%;
  }

  .avatar-container {
    gap: 1rem;
  }

  .avatar-container > img {
    height: 3rem;
  }

  .user-tweet {
    height: 3.5rem;
    padding: 0;
    font-size: smaller;
  }

  footer {
    width: 85%;
    margin-left: 3rem;
  }

  .icons {
    width: 22%;
  }
}

/* breakpoint (tablet) */
@media only screen and (min-width: 768px) {
  footer {
      width: 88%;
      margin-left: 3rem;
    }

  .icons {
    width: 18%;
  }
}